import { method, route } from "@/decorators";
import { Controller } from "@/libs";

class $1 extends Controller {
  @method("get")
  @route("/$2")
  public async index() {
    this.render("wip");
  }
}

export default $1;
