{% extends "layouts/base.njk" %}

{% block title %}
  404 | {{ super() }}
{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 w-full">
    <h1 class="text-4xl font-bold text-center">404</h1>
    <p class="text-center">Page not found</p>
  </section>
{% endblock %}