<nav class="flex gap-4 items-center max-w-full w-[80rem] mx-auto p-2 text-inherit">
  <a href="/{{ lang }}" class="text-3xl transition-colors hover:text-amber-100 z-50">
    {{ "GLOBAL.TITLE" | translate(lang) }}
  </a>
</nav>